<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.devitems.com/eduhome/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:37:50 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="~/site/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/site/css/animate.css">
    <link rel="stylesheet" href="~/site/css/meanmenu.css">
    <link rel="stylesheet" href="~/site/css/magnific-popup.css">
    <link rel="stylesheet" href="~/site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/site/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/site/css/et-line-icon.css">
    <link rel="stylesheet" href="~/site/css/reset.css">
    <link rel="stylesheet" href="~/site/css/ionicons.min.css">
    <link rel="stylesheet" href="~/site/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/site/css/style.css">
    <link rel="stylesheet" href="~/site/css/responsive.css">
    <script src="~/site/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Header Area Start -->
    @await Component.InvokeAsync("Header");
    <!-- Header Area End -->
    @RenderBody()

    <!-- Footer start -->
    @await Component.InvokeAsync("Footer");
    <!-- Footer End -->

    <script src="~/site/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/site/js/bootstrap.min.js"></script>
    <script src="~/site/js/jquery.meanmenu.js"></script>
    <script src="~/site/js/jquery.magnific-popup.js"></script>
    <script src="~/site/js/ajax-mail.js"></script>
    <script src="~/site/js/owl.carousel.min.js"></script>
    <script src="~/site/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/site/js/jquery.nicescroll.min.js"></script>
    <script src="~/site/js/plugins.js"></script>
    <script src="~/site/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>

<!-- Mirrored from demo.devitems.com/eduhome/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:41:25 GMT -->
</html>

