<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Admin/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
</head>

<body>
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Content area -->
    <div class="content">
        @RenderBody()
    </div>
    <!-- /content area -->
    @await Component.InvokeAsync("FooterAdmin")

    <!-- /page content -->
    <!-- Core JS files -->
    <script src="~/Admin/global_assets/js/main/jquery.min.js"></script>
    <script src="~/Admin/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->

    @RenderSection("ThemeScript", false)
    <script src="~/Admin/assets/js/app.js"></script>
    <script src="~/Admin/assets/js/custom.js"></script>


    <!-- /theme JS files -->
</body>
</html>

