@model List<SendMessageFromUser>
@{
    ViewData["Title"] = "Admin Panel - Users Message List";
    ViewData["TitleNavbar"] = "Users Message List";
}

<!-- State saving -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Users Message List</h5>
      
    </div>
    <table class="table category-datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SendMessageFromUser item in Model)
            {
                <tr>
                    <td class="text-capitalize">@item.Email</td>

                    <td class="text-right">
                        <div class="list-icons">

                            <a asp-action="info" asp-route-id="@item.Id" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                            <a class="list-icons-item text-danger-600 delete" data-id="@item.Id"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section ThemeScript{
    <script src="~/Admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
}

