@{
    ViewData["Title"] = "Eduhome - Forgot Password";

}

<!-- Banner Area Start -->
@await Component.InvokeAsync("SiteTitle", "Forgot Password")
<!-- Banner Area End -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Forgot Password</h2>
                            <span>Please enter email address and we send reset link.</span>
                        </div>
                        <div class="login-form">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" style="color:red; margin-bottom:5px"></div>
                                <div class="text-success">@TempData["suc"]</div>
                                <input name="User" id="User" placeholder="Email">
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Send Email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end -->
