@model TestimonialSection
@{
    ViewData["Title"] = "Admin Panel - Update Testimonial ";
    ViewData["TitleNavbar"] = " Update Testimonial ";
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Update Testimonial</h6>
    </div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger text-capitalize"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control mb-3" placeholder="Enter Name">
                <span class="text-warning" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control mb-3" placeholder="Enter Name">
                <span class="text-warning" asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position"></label>
                <input asp-for="Position" class="form-control mb-3" placeholder="Enter Name">
                <span class="text-warning" asp-validation-for="Position"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription">Short Description</label>
                <input asp-for="ShortDescription" class="form-control mb-3" placeholder="Enter Short Description">
                <span class="text-warning" asp-validation-for="ShortDescription"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <img src="~/Site/img/testimonial/@Model.Image" width="500" alt="Alternate Text" />
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="col-lg-2 col-form-label font-weight-semibold"></label>
                <div class="col-lg-10">
                    <input asp-for="Photo" accept="image/*" class="file-input-slider-main" data-fouc>
                </div>
                <span class="text-warning" asp-validation-for="Photo"></span>
            </div>

            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn bg-blue ml-3 legitRipple">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>
@section ThemeScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Admin/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
}
